*{
    margin:0%;
    padding:0;
}

header#cabecalho{
    width: 100%;
    height: 200px;/*altura*/
    background-color:rgb(48, 0, 0)
}
header#cabecalho img#logo{
    display:block; /*colocar em bloco primeiro*/
    margin:auto; /*para centralizar*/
}
nav#menu{
    width: 100%; /*largura*/
    height: 30px; /*altura*/
    background-color: rgb(116, 0, 29);
}
article{
    width: 100%;
    height: 100%;   
}
section#container{
    width: 1200px;
    height: 3000px;
    border: 1px solid red;
    margin: auto; /*para centralizar o bloco*/
    margin-top: 40px;
}